#modal-window.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Delete product
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button", class: "btn-close"}
      .modal-body
        Are you sure you want to delete the product?
      .modal-footer
        %button.btn.btn-secondary{"data-dismiss" => "modal", type: "button"} Close 
        %button.btn.btn-danger{id: "btn-check-box-delete"} Delete